.cover-block {
	width: 1250px;
	height: 650px;
	position: relative;
	display: inline-block;
}

.mermaid-block {
	width: 300px;
	position: absolute;
	top: 20%;
	left: 30%;
    transition: all 7.5s linear 1s;
}

/* hover */

.mermaid-block:hover {
	transform: scale(2.1);
}

.fish-block {
	width: 100px;
	position: absolute;
    animation: fishmove 5s alternate infinite ease-in;
}

@keyframes fishmove {
	  0% {left: 100px; top: 100px;}
	  25%  {left: 700px; top: 50px;}
	  50%  {left: 700px; top: 500px;}
	  75%  {left: 100px; top: 200px;}
	  100% {left: 100px; top: 100px;}
}

.crab-block {
	width: 100px;
	position: absolute;
    bottom: 300px;
    right: 370px;
    animation: crabmove 5s infinite ease-in-out alternate 0.1s;
}

@keyframes crabmove {
	from {transform: translateX(0px);}
	to {transform: translateX(100px);}
}

.bubbles-block {
	width: 100px;
	position: absolute;
    bottom: 300px;
    right: 200px;
    animation: bubblesmove 5s infinite ease-in-out alternate 2.5s;
}
  
@keyframes bubblesmove {
	from {bottom: 300px;}
	to {bottom: 500px; filter: blur(10px); width: 40px;}
}

.starfish-block{
	width: 100px;
	position: absolute;
	top: 50%;
	left: 10%;
    animation: starfishmove 5s infinite ease-in-out alternate 0.1s;
}


@keyframes starfishmove {
 from { transform: rotate(0deg);}
 to { transform: rotate(360deg); width: 200px;}
 }

